node_modules/
unpackage/
.hbuilderx/
.DS_Store
uni_modules
uniCloud-alipay/database/JQL查询.jql

backend_dir.txt
uniCloud-alipay/cloudfunctions/Vheart-Model/etsc.config.js
uniCloud-alipay/cloudfunctions/Vheart-Model/build.js
uniCloud-alipay/cloudfunctions/Vheart-Model/nodemon.json
uniCloud-alipay/cloudfunctions/Vheart-Model/package.json
uniCloud-alipay/cloudfunctions/Vheart-Model/pnpm-lock.yaml
uniCloud-alipay/cloudfunctions/Vheart-Model/tsconfig.json
